@import "../../styles/vars";

.menu {
  width: 18%;

  &__list {
    padding-left: 0.5rem;
    margin: 0;
    height: 276px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}