@import "styles/vars";

.tags {
  display: flex;
  align-items: center;
  color: $color-text;
  font-family: $font-primary;
  font-size: 16px;

  p {
    font-size: 1.25rem;
  }

  &__list {
    margin-left: 10px;
    list-style: none;
    width: 380px;
    padding: 0;
    display: flex;
    justify-content: space-between;


    button {
      background-color: $tag-color;
      border: none;
      color: $color-text;
      font-family: $font-primary;
      cursor: pointer;
      padding: 6px 10px;
      border-radius: 8px;
      font-size: 16px;
    }
  }
}