// Typography
$font-primary: "GandhiSansRegular";
$font-primary-bold: "GandhiSansBold";
// Colors
$color-background-primary: #041833;
$color-background-secondary: #154580;
$color-primary: #c98cf1;
$color-secondary: #7b78e5;
$color-footer: #04244f;
$color-text: #d9d9d9;
$nobel: #9d9d9d;
$tag-color: rgba(148, 163, 184,0.3);